.label {
	-fx-font-family: 'Charmonman', cursive;
	-fx-font-size: 20pt;
	-fx-font-weight: 700;
	-fx-text-fill: #303030;
}

.initial-label {
	-fx-font-size: 50pt;
}

.button {
	-fx-background-radius: 1em;
	-fx-background-color: #303030;
	-fx-text-fill: #FCF5F5;
	-fx-font-size: 12pt;
	-fx-font-family: 'K2D', sans-serif;
	-fx-font-weight: 600;
}

.button:hover {
	-fx-cursor: 'hand';
	-fx-background-color: #454545;
}

.initial-button {
	-fx-font-size: 14pt;
}

.flat-button {
	-fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-text-fill: rgb(21, 125, 251);
    -fx-font-weight: bold;
}

.flat-button:hover {
	-fx-cursor: 'hand';
	-fx-text-fill: #606060;
	-fx-background-color: transparent;
}

.circle-button {
    -fx-background-radius: 3em;
    -fx-font-weight: 800;
}

.settings-button {
	-fx-background-radius: 3em;
    -fx-font-weight: 800;
	-fx-graphic: url('settings.png');
}

.vbox {
	-fx-background-color: #EEEEEE;
}

.initial-vbox {
	-fx-background-image: url('patrick-tomasso-71909-unsplash.jpg');
	-fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.tree-vbox {
	-fx-background-color: #F5F5F9;
}

.tree-view {
	-fx-focus-traversable: false;
	-fx-border-color: transparent;
}

.tree-cell-title {
	-fx-font-family: 'Charmonman', cursive;
	-fx-font-size: 20pt;
	-fx-font-weight: 700;
	-fx-text-fill: #303030;
	-fx-background-color: #F5F5F9;
}

.tree-cell {
	-fx-font-family: 'K2D', sans-serif;
	-fx-font-size: 17pt;
	-fx-font-weight: 600;
	-fx-text-fill: #303030;
	-fx-background-color: #F5F5F9;
}

.tree-cell-sub {
	-fx-font-family: Arial, sans-serif;
	-fx-font-size: 13pt;
	-fx-font-weight: 400;
	-fx-text-fill: #303030;
	-fx-background-color: #F5F5F9;
}